.square {
	height: 125px;
	width: 125px;
	text-align: center;
	border: 5px solid black;
}

.square:hover {
	cursor: pointer;
}

#board {
	margin: auto;
}
#board-container {
	position: fixed;
}

.square:hover {
  background-color: #C2C2C2;
}

#board-container {
  margin: 10px auto;
}

#instructions-container {
	margin-top: 5px;
}

.mark {
	font-size: 24px;
}

/*
.x {

	cursor:help;
}

.o {
	cursor:progress;
}*/
